<div class="footer-container">
    <div>
        <h1>ÜA</h1>
    </div>
    <div class="copyright-box">
        <span> &copy; Anastasiia Ünal 2022</span>
        <a href="#"><button mat-button>Impressum</button></a>
    </div>
    <div class="icons-box">
        <button mat-mini-fab><img src="assets/img/github_white.png"></button>
        <button mat-mini-fab><img src="assets/img/mail_white.png"></button>
        <button mat-mini-fab><img src="assets/img/linkedin_white.png"></button>
    </div>
</div>