<div class="footer-container">
    <div>
        <a href="">
            <h1>&#60;ÜA&#62;</h1>
        </a>
    </div>
    <div class="copyright-box">
        <span> &copy; Anastasiia Ünal 2023</span>
        <a (click)="openImprint()">Imprint</a>
    </div>
    <div class="icons-box">
        <a href="https://github.com/UenalAnastasiia" target="_blank"><button mat-mini-fab><img
                    src="assets/img/github_white.png"></button></a>
        <a href="mailto:contact@anastasiia-uenal.de" target="_blank"><button mat-mini-fab><img src="assets/img/mail_white.png"></button></a>
        <a href="https://www.linkedin.com/in/anastasiia-u-7b841b148/" target="_blank"><button mat-mini-fab><img
                    src="assets/img/linkedin_white.png"></button></a>
    </div>
</div>