<div class="footer-container">
    <div>
        <h1>ÜA</h1>
    </div>
    <div class="copyright-box">
        <span> &copy; Anastasiia Ünal 2023</span>
        <a href="#"><button mat-button>Impressum</button></a>
    </div>
    <div class="icons-box">
        <a href="https://github.com/UenalAnastasiia" target="_blank"><button mat-mini-fab><img src="assets/img/github_white.png"></button></a>
        <a href="#contact" target="_blank"><button mat-mini-fab><img src="assets/img/mail_white.png"></button></a>
        <a href="https://www.linkedin.com/" target="_blank"><button mat-mini-fab><img src="assets/img/linkedin_white.png"></button></a>
    </div>
</div>