<div class="project-container">
    <div class="big-circle"></div>

    <div class="project-description">
        <h3>Sharky</h3>
        <p>JavaScript | HTML | CSS</p>
        <span>Swimm with Sharky throw game based on object-oriented approach. Help Sharky to find coins and stay healthy so to fight against the angry endboss.</span>
        <div class="project-btn-box">
            <button mat-stroked-button color="warn">Demo Video</button>
            <button mat-stroked-button color="warn">GitHub</button>
            <button mat-stroked-button color="warn">Live Test</button>
        </div>
    </div>

    <div class="project-img">
        <img src="assets/img/sharky.png">
    </div>

    <div class="small-circle"></div>
</div>
