<div class="project-container">
    <div class="middle-circle"></div>
    <div class="project-img">
        <img src="assets/img/slack.png">
    </div>

    <div class="project-description">
        <h3>Slack-Clone</h3>
        <p>Angular | TypeScript | Firebase | SCSS</p>
        <span>Message manager inspired by the Slack. Create and comment threads, chat and communicate with other users in the App.</span>
        <div class="project-btn-box">
            <a href="https://ua-slack-clone.web.app/login" target="_blank">
                <button mat-stroked-button color="warn" class="blob-btn" 
                (mouseenter)="mouseService.showLinkbyMouseOver('https://ua-slack-clone.web.app/login', 'assets/img/slack_screen.PNG', 'slack')">
                    Live Test
                    <span class="blob-btn__inner">
                        <span class="blob-btn__blobs">
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                        </span>
                    </span>
                </button>

                <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <defs>
                        <filter id="goo">
                            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                                result="goo"></feColorMatrix>
                            <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                        </filter>
                    </defs>
                </svg>
            </a>

            <a href="https://github.com/UenalAnastasiia/Slack-Clone" target="_blank">
                <button mat-stroked-button color="warn" class="blob-btn"
                (mouseenter)="mouseService.showLinkbyMouseOver('https://github.com/UenalAnastasiia/Slack-Clone', 'assets/img/slackgit_screen.PNG', 'slack')">
                    GitHub
                    <span class="blob-btn__inner">
                        <span class="blob-btn__blobs">
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                        </span>
                    </span>
                </button>

                <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <defs>
                        <filter id="goo">
                            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                                result="goo"></feColorMatrix>
                            <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                        </filter>
                    </defs>
                </svg>
            </a>
        </div>
    </div>
    
    <mat-card *ngIf="mouseService.showLinkDialog && mouseService.name == 'slack'" class="link-dialog" (mouseleave)="mouseService.showLinkDialog = false">
        <img src="{{ mouseService.linkImg }}" alt="">
        <div>
            <a href="{{ mouseService.linkURL }}"><button mat-stroked-button color="warn">Open here</button></a>
            <a href="{{ mouseService.linkURL }}" target="_blank"><button mat-stroked-button color="warn">Open in new tab</button></a>
        </div>
    </mat-card>
    
    <div class="big-circle"></div>
</div>
