<div class="project-container">
    <div class="middle-circle"></div>
    <div class="project-img">
        <img src="assets/img/slack.png">
    </div>

    <div class="project-description">
        <h3>Slack-Clone</h3>
        <p>Angular | TypeScript | Firebase | SCSS</p>
        <span>Message manager inspired by the Slack. Create and comment threads, chat and communicate with other users in the App.</span>
        <div class="project-btn-box">
            <button mat-stroked-button color="warn">Live Test</button>
            <button mat-stroked-button color="warn">GitHub</button>
            <button mat-stroked-button color="warn">Demo Video</button>
        </div>
    </div>
</div>
