<div class="about-container">
    <div class="small-circle"></div>

    <div class="left-box">
        <h1>Let's work together</h1>
    </div>

    <div class="right-box">
        <span>
            I am a 28 years old Frontend Developer based in Germany. My way in web development started 1 year ago
            when I took a course from Developer Akademie.
            I have devoted a lot of time to learning and practicing coding.
            <br><br>
            Before getting to know web development, I acquired a master's degree in finance and a master's degree in
            Ukranian-Russian-German translation in Ukraine.
            <br><br>
            I've always dreamed of being an independent and self-sufficient person. As well as I enjoyed acquiring new knowledge and putting it into practice. So
            I'm looking for new challenges as a Front-end developer.
            <br> <br>
            If you want to work with me, contact me!
        </span>

        <a (click)="scrollToComponent()"><button mat-stroked-button color="warn">Send a message</button></a>
    </div>
</div>