<div class="about-container">
    <div class="small-circle"></div>
    
    <div class="left-box">
        <h1>Let's work together</h1>
    </div>

    <div class="right-box">
        <span>
            I am a Front-end developer based in Munich, Germany.
            I enjoy helping designers and companies bring their ideas into real life.
            I am looking forward to continuing my developer career with a job in a junior web developer position.
            <br> <br>
            If you think I’d be a good match for your projects, contact me!
        </span>

        <button mat-stroked-button color="warn">Send a message</button>
    </div>
</div>