<div class="about-container">
    <div class="small-circle"></div>

    <div class="left-box">
        <h1>Let's work together</h1>
    </div>

    <div class="right-box">
        <span>
            I am a 29-year-old fullstack developer from Germany with a solid education and versatile skills. 
            My journey into web development began in 2022 when I attended a further training at the Developer Akademie.
            <br><br>
            After earning Master's degree in Finance and Master's degree in Ukrainian-German Translation and gaining professional experience in these fields, 
            my passion for logical thinking and creative problem solving eventually led me to programming. I completed a further training programme to become a fullstack developer, 
            which gave me comprehensive knowledge of frontend and backend development. 
            <br><br>
            Thanks to my combination of analytical thinking and technical expertise, I am well prepared to develop innovative and powerful web applications. 
            I enjoy acquiring new knowledge and applying it in practice. This is why I am seeking new challenges as a Fullstack Developer.
            <br><br>
            Please feel free to contact me if you have any questions.

            <!-- I am a 29-year-old Fullstack Developer from Germany. My journey into web development began in 2022 when I attended a further training at Developer Akademie. 
            Since then, I have dedicated a significant amount of time to learning and practicing programming.
            <br><br>
            Before discovering web development, I earned Master's degree in Finance and Master's degree in Ukrainian-German Translation. 
            My passion for logical thinking and creative problem solving eventually led me to programming. 
            To deepen my knowledge, I completed further training in frontend and backend programming. 
            <br><br>
            These new skills allow me to combine my analytical and linguistic skills in the world of web development and develop innovative solutions. 
            I enjoy acquiring new knowledge and applying it in practice. This is why I am seeking new challenges as a Fullstack Developer.
            Please feel free to contact me if you have any questions. -->
        </span>

        <a (click)="service.scrollToComponent('contact')"><button mat-stroked-button color="warn">Send a message</button></a>
    </div>
</div>