<header>
        <a href="#aboutme">About me</a>
        <a href="#skills">Skills set</a>
        <a href="#myworks">My Work</a>
</header>

<div class="burger-menu example-icon" [class.active]="active" (click)="menuToogle()">
        <div class="burger-container">
                <div class="burger-inner"></div>
        </div>
</div>

<div [class.opacity-animation]="active" class="example-container">
        <h1 class="logo-h1"> &#60;ÜA&#62; </h1>

        <div class="burger-menu example-icon" [class.active]="active" (click)="menuToogle()">
                <div class="burger-container">
                        <div class="burger-inner"></div>
                </div>
        </div>
        <a href="#aboutme" (click)="menuToogle()">About me</a>
        <a href="#skills" (click)="menuToogle()">Skills set</a>
        <a href="#myworks" (click)="menuToogle()">My Work</a>
        <a href="#contact" (click)="menuToogle()">Contact</a>
</div>