<div class="works-header">
    <div class="small-circle"></div>
    <h2>My work</h2>
    <span>Feel free to try out my latest development projects and look into their code.</span>
    <br> <br>
    <span>Here you can find a list with all development projects I worked on. <a href="assets/projectlist.pdf" target="_blank">See list</a></span>
    <div class="middle-circle"></div>
</div>

<div class="works-box">
    <app-project-join></app-project-join>
    <app-project-ctrack></app-project-ctrack>
    <app-project-crm></app-project-crm>
    <app-project-sharky></app-project-sharky>
    <app-project-slack></app-project-slack>
</div>