<div class="contact-container">
    <div class="contact-header">
        <h2>Contact</h2>
        <h3>Got a problem to solve?</h3>
        <span>
            Contact me through this form, I am interested in hearing you,
            knowing your ideas and contributing to your projects with my work.
        </span> <br> <br>
        <span class="span-color">Need a Frontend developer? <b>Contact me!</b></span>
        <div class="middle-circle"></div>
        <a href="#home" class="up-btn"><button mat-fab color="warn" aria-label="Example icon button with a home icon">
                <mat-icon>arrow_upward</mat-icon>
            </button>
        </a>
    </div>

    <div class="contact-form">
        <div class="big-circle"></div>

        <mat-form-field appearance="outline">
            <mat-label>Your name</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Your email</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Your message</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>

        <div class="send-btn-box">
            <button class="send-btn" mat-stroked-button color="warn" (click)="clickEvent()"  
            [ngClass]="activeBtn ? 'is_active send-btn-hide' : ''">
                <span>Contact me</span>
                <div class="success">
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 29.756 29.756"
                        style="enable-background:new 0 0 29.756 29.756;" xml:space="preserve">

                        <path
                            d="M29.049,5.009L28.19,4.151c-0.943-0.945-2.488-0.945-3.434,0L10.172,18.737l-5.175-5.173   
                            c-0.943-0.944-2.489-0.944-3.432,0.001l-0.858,0.857c-0.943,0.944-0.943,2.489,0,3.433l7.744,7.752   
                            c0.944,0.943,2.489,0.943,3.433,0L29.049,8.442C29.991,7.498,29.991,5.953,29.049,5.009z" />
                    </svg>
                </div>
            </button>
        </div>

        <div class="small-circle"></div>
    </div>
</div>