<div class="contact-container">
    <div class="contact-header">
        <h2>Contact</h2>
        <h3>Got a problem to solve?</h3>
        <span>
            Contact me through this form, I am interested in hearing you,
            knowing your ideas and contributing to your projects with my work.
        </span> <br> <br>
        <span class="span-color">Need a Frontend developer? <b>Contact me!</b></span>
        <div class="middle-circle"></div>
        <a href="#home" class="up-btn"><button mat-fab color="warn" aria-label="Example icon button with a home icon">
                <mat-icon>arrow_upward</mat-icon>
            </button>
        </a>
    </div>
</div>