.skills-icons {
    min-height: 650px;
    width: 100%;
    background: linear-gradient(128.94deg, #FF5959 -33.96%, #FF5959 36.71%, #DE0000 112.25%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 1000px) {
        min-height: unset;
    }
}

h2 {
    font-family: 'Baloo 2';
    color: white;
    font-weight: 800;
    font-size: 96px;
    line-height: 120%;
    margin: 0px;
    text-align: center;

    @media (max-width: 1000px) {
        font-size: 82px;
        margin-top: 16px;
    }

    @media (max-width: 450px) {
        font-size: 64px;
    }
}

.box-center {
    display: flex;
    justify-content: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    max-width: 995px;

    @media (max-width: 450px) {
        margin-top: 28px;
    }
}

.skill-box {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 125px;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    border-radius: 10px;
    margin-bottom: 74px;
    margin-left: 26px;
    margin-right: 26px;
    padding: 10px;
    box-shadow: -2px 0px 6px 0px rgb(75 74 74 / 68%);
    position: relative;

    @media (max-width: 1000px) {
        margin-bottom: 36px;
    }

    img {
        height: 50px;
        width: 50px;
        z-index: 1;
        position: absolute;
        top: -24px;
        left: 46px;
        border-radius: 16px;
    }

    span {
        text-align: center;
        font-weight: 700;
        margin-top: 18px;
        color: white;
        font-size: 16px;
    }

    &:hover {
        transform: scale(1.2);
        transition: 225ms ease-in-out;
        filter: brightness(0.8);
    }
}