<div class="project-container">
    <div class="big-circle"></div>

    <div class="project-description">
        <h3>Weather Track (in work)</h3>
        <p>React | TypeScript | API | Material UI</p>
        <span>Here you can Track weather all around the world with a forecast for up to 10 days. You can also follow the weather history up to the year 2000.</span>
        <div class="project-btn-box">
            <a href="http://wtrack.anastasiia-uenal.de" target="_blank">
                <button mat-stroked-button color="warn" class="blob-btn">
                    Live Test
                    <span class="blob-btn__inner">
                        <span class="blob-btn__blobs">
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                        </span>
                    </span>
                </button>

                <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <defs>
                        <filter id="goo">
                            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                                result="goo"></feColorMatrix>
                            <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                        </filter>
                    </defs>
                </svg>
            </a>

            <a href="https://github.com/UenalAnastasiia/weather_track" target="_blank">
                <button mat-stroked-button color="warn" class="blob-btn">
                    GitHub
                    <span class="blob-btn__inner">
                        <span class="blob-btn__blobs">
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                        </span>
                    </span>
                </button>

                <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <defs>
                        <filter id="goo">
                            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                                result="goo"></feColorMatrix>
                            <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                        </filter>
                    </defs>
                </svg>
            </a>
        </div>
    </div>


    <div class="project-img">
        <img src="assets/img/wtrack.png">
    </div>

    <div class="small-circle"></div>
</div>
