<div class="project-container">
    <div class="middle-circle"></div>
    <div class="project-img">
        <img src="assets/img/crm.png">
    </div>

    <div class="project-description">
        <h3>Simple CRM</h3>
        <p>Angular | TypeScript | Firebase | Material Design</p>
        <span>An easy CRM Tool for small businesses. Create new contacts, add tasks and stay organized.</span>
        <div class="project-btn-box">
            <a href="https://ua-simple-crm.web.app/home" target="_blank">
                <button mat-stroked-button color="warn" class="blob-btn"
                (mouseenter)="mouseService.showLinkbyMouseOver('https://ua-simple-crm.web.app/home', 'assets/img/crm_screen.PNG', 'crm')">
                    Live Test
                    <span class="blob-btn__inner">
                        <span class="blob-btn__blobs">
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                        </span>
                    </span>
                </button>

                <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <defs>
                        <filter id="goo">
                            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                                result="goo"></feColorMatrix>
                            <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                        </filter>
                    </defs>
                </svg>
            </a>

            <a href="https://github.com/UenalAnastasiia/Simple-CRM" target="_blank">
                <button mat-stroked-button color="warn" class="blob-btn"
                (mouseenter)="mouseService.showLinkbyMouseOver('https://github.com/UenalAnastasiia/Simple-CRM', 'assets/img/crmgit_screen.PNG', 'crm')">
                    GitHub
                    <span class="blob-btn__inner">
                        <span class="blob-btn__blobs">
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                        </span>
                    </span>
                </button>

                <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <defs>
                        <filter id="goo">
                            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                                result="goo"></feColorMatrix>
                            <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                        </filter>
                    </defs>
                </svg>
            </a>
        </div>

        <mat-card *ngIf="mouseService.showLinkDialog && mouseService.name == 'crm'" class="link-dialog" (mouseleave)="mouseService.showLinkDialog = false">
            <img src="{{ mouseService.linkImg }}" alt="">
            <div>
                <a href="{{ mouseService.linkURL }}"><button mat-stroked-button color="warn">Open here</button></a>
                <a href="{{ mouseService.linkURL }}" target="_blank"><button mat-stroked-button color="warn">Open in new tab</button></a>
            </div>
        </mat-card>

        <div class="small-circle"></div>
    </div>
</div>