<div class="project-container">
    <div class="middle-circle"></div>
    <div class="project-img">
        <img src="assets/img/crm.png">
    </div>

    <div class="project-description">
        <h3>Simple CRM</h3>
        <p>Angular | TypeScript | Firebase | Material Design</p>
        <span>An easy CRM Tool for small businesses. Create new contacts, add tasks and stay organized.</span>
        <div class="project-btn-box">
            <button mat-stroked-button color="warn">Live Test</button>
            <button mat-stroked-button color="warn">GitHub</button>
            <button mat-stroked-button color="warn">Demo Video</button>
        </div>
    </div>
    <div class="big-circle"></div>
</div>

