@import './fonts.scss';


html, body { 
    height: 100%; 
    width: 100%; 
    scroll-behavior: smooth; 
    margin: 0;
}

*::-webkit-scrollbar {
    display: block;
    width: 12px;
    height: 6px;
  }
  
  *::-webkit-scrollbar-button {
    display: none;
  }
  
  *::-webkit-scrollbar-track {
    background-color: #00000000;
  }
  
  *::-webkit-scrollbar-track-piece {
    background-color: #00000000;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #FF5959;
    border: 1px solid #00000059;
    border-radius: 24px;
  }
