<h1 class="logo-h1"> ÜA Dev </h1>

<div class="home-container my-element">
    <div class="big-circle"></div>
    <div class="profile-box">
        <div class="left-container">
            <img class="profile-img" src="assets/img/profile.jpg">
        </div>
        <div class="right-container">
            <div class="description">
                <h2> Hello! I am Anastasiia </h2>
                <h1>FRONTEND</h1>
                <h1>DEVELOPER</h1>
            </div>
        </div>
    </div>
</div>

<div class="scroll-btn-box">
    <a class="link" href="#aboutme">
        <span class="link__line"></span>
        <button mat-button color="warn">SCROLL</button>
    </a>
</div>

<div class="icons-box">
    <a href="https://github.com/UenalAnastasiia" target="_blank"><button mat-mini-fab><img src="assets/img/github.png"></button></a>
    <a href=""><button mat-mini-fab><img src="assets/img/mail.png"></button></a>
    <a href=""><button mat-mini-fab><img src="assets/img/linkedin.png"></button></a>
</div>

<div class="small-circle"></div>