.logo-h1 {
    position: absolute;
    top: 26px;
    color: white;
    left: 10vw;
    z-index: 1;
    font-size: 56px;
    font-weight: 800;
    letter-spacing: 6px;
    font-family: 'Baloo 2';
    filter: drop-shadow(3px 0px 2px #ffffff);
    -webkit-box-reflect: below 5px linear-gradient(to bottom,
            rgba(0, 0, 0, 0.0),
            rgba(0, 0, 0, 0.6));
}

.home-container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(#FFFFFF, #FFEAEA);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.big-circle {
    width: 860px;
    height: 860px;
    position: absolute;
    top: -102px;
    left: -154px;
    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #FF5959 6.25%, #FF5959 51.56%, #DE0000 100%);
    border-radius: 100%;

    @media (max-width: 1500px) {
        top: -62px;
        left: -222px;
    }

    @media (max-width: 1400px) {
        width: 800px;
        height: 800px;

    }

    @media (max-width: 1100px) {
        width: 750px;
        height: 750px;
        top: -32px;
    }

    @media (max-height: 800px) {
        top: -160px;
    }
}

.small-circle {
    width: 260px;
    height: 260px;
    position: absolute;
    bottom: -120px;
    left: 460px;
    z-index: 1;
    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #FF5959 6.25%, #FF5959 51.56%, #DE0000 100%);
    border-radius: 100%;
    transform: rotate(81.57deg);

    @media (max-width: 1100px) {
        left: 400px;
    }

    @media (max-height: 800px) {
        left: 370px;
    }
}

.profile-box {
    z-index: 1;
    display: flex;
    align-items: center;
}

.left-container,
.right-container {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    margin-left: -2vw;
    margin-top: -12vh;
    cursor: context-menu;

    @media (max-width: 1400px) {
        margin-left: 4vw;
    }

    h2 {
        font-family: 'Montserrat';
        font-size: 62px;
        font-weight: 400;
        color: #FF5959;
        margin: 0;
        padding-bottom: 16px;
        margin-top: 24px;

        @media (max-width: 1400px) {
            font-size: 46px;
        }

        @media (max-width: 1150px) {
            font-size: 40px;
        }
    }

    h1 {
        font-family: 'Baloo 2';
        color: #FF5959;
        font-weight: 800;
        font-size: 128px;
        line-height: 120%;
        margin: 0px;

        @media (max-width: 1400px) {
            font-size: 96px;
        }

        @media (max-width: 1150px) {
            font-size: 86px;
        }

        @media (max-width: 1050px) {
            font-size: 82px;
        }

        &:last-child {
            margin-top: -42px;
        }
    }
}

.profile-img {
    height: 90vh;
    position: absolute;
    left: 6vw;
    bottom: 0vh;

    @media (max-width: 1400px) {
        left: 2vw;
    }

    @media (max-width: 1050px) {
        left: -24px;
    }
}

.icons-box {
    position: absolute;
    bottom: 2vh;
    right: 10vw;
    display: flex;
    flex-direction: column;

    a {
        margin-bottom: 32px;
        text-decoration: none;

        &:hover {
            transform: scale3d(1.5, 1.5, 1.5);
            transition: 225ms ease-in-out;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            height: 26px;
            width: 26px;


            img {
                height: 32px;
                width: 32px;
            }
        }
    }
}

.relative {
    position: relative;
}

.scroll-btn-box {
    position: absolute;
    bottom: 0;
    right: 25vw;
    display: flex;
    justify-content: center;
    flex-direction: column;

    button {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 120%;
        padding: 6px;
        transform: rotate(90deg) translate3d(-300px, 0, 0);
        position: absolute;
        right: calc(-2vw - 10px);
        top: 288px;
        color: #FF5959;
    }
}

.link {
    position: absolute;
    bottom: 391px;
    left: -10vw;
    z-index: 1;
    $self: &;
    display: inline-flex;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    transform: rotate(-90deg) translate3d(-300px, 0, 0);

    @media (min-height: 900px) {
        bottom: 436px;
        left: -14vw;
    }

    &__line {
        position: relative;
        margin-left: -14px;
        margin-right: 30px;
        width: 150px;
        height: 2px;
        background: #e8e4e8;
        overflow: hidden;
        z-index: 1;

        @media (min-height: 900px) {
            width: 240px;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 80px;
            width: 70px;
            height: 2px;
            background: #FF5959;
            animation: animation-line 3s linear infinite;

            @media (min-height: 900px) {
                left: 200px;
                width: 160px;
            }
        }
    }
}

@keyframes animation-line {

    0%,
    100% {
        left: 80px;

        @media (min-height: 900px) {
            left: 240px;
        }
    }

    50% {
        left: 0;
    }
}

.link-dialog {
    position: absolute;
    bottom: 3vh;
    right: 14vw;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;

    div {
        display: flex;
        justify-content: space-around;
        width: 300px;
        margin-left: -16px;
        margin-right: -16px;
    }

    button {
        margin-top: 8px;
        width: 135px;
    }

    img {
        width: 400px;
        margin-top: -16px;
        margin-left: -16px;
        margin-right: -16px;
        border-radius: 6px;
    }
}