<h1 class="logo-h1"> Ü. A. </h1>

<div class="home-container my-element">
    <div class="big-circle"></div>
    <div class="profile-box">
        <div class="left-container">
            <img class="profile-img" src="assets/img/profile.jpg">
        </div>
        <div class="right-container">
            <div class="description">
                <h2> Hello! I am Anastasiia </h2>
                <h1>FRONTEND</h1>
                <h1>DEVELOPER</h1>
            </div>
        </div>
    </div>
</div>

<div class="scroll-btn-box">
    <button mat-button color="warn">SCROLL</button>
    <span></span>
</div>

<div class="icons-box">
    <img src="assets/img/github.png">
    <img src="assets/img/mail.png">
    <img src="assets/img/linkedin.png">
</div>