<h1 class="logo-h1"> &#60;ÜA&#62; </h1>

<div class="home-container my-element">
    <div class="big-circle"></div>
    <div class="profile-box">
        <div class="left-container">
            <img class="profile-img" src="assets/img/profile.png">
        </div>
        <div class="right-container">
            <div class="description">
                <h2> Hello! I am Anastasiia </h2>
                <h1>FRONTEND</h1>
                <h1>DEVELOPER</h1>
            </div>
        </div>
    </div>
</div>

<div class="scroll-btn-box">
    <div class="relative">
        <a class="link" (click)="scrollToComponent()">
            <span class="link__line"></span>
            <button mat-button color="warn">SCROLL</button>
        </a>
    </div>
</div>

<!-- <mat-card *ngIf="mouseService.showLinkDialog && mouseService.name == 'home'" class="link-dialog"
    (mouseleave)="mouseService.showLinkDialog = false">
    <img src="{{ mouseService.linkImg }}" alt="">
    <div>
        <a href="{{ mouseService.linkURL }}"><button mat-stroked-button color="warn">Open here</button></a>
        <a href="{{ mouseService.linkURL }}" target="_blank"><button mat-stroked-button color="warn">Open in new
                tab</button></a>
    </div>
</mat-card> -->

<div class="icons-box">
    <a href="https://github.com/UenalAnastasiia" target="_blank"
        (mouseenter)="mouseService.showLinkbyMouseOver('https://github.com/UenalAnastasiia', 'assets/img/github_screen.PNG', 'home')">
        <button mat-mini-fab>
            <img src="assets/img/github.png">
        </button>
    </a>

    <a href="mailto:contact@anastasiia-uenal.de">
        <button mat-mini-fab><img src="assets/img/mail.png"></button>
    </a>

    <a href="https://www.linkedin.com/in/anastasiia-u-7b841b148/" target="_blank"
        (mouseenter)="mouseService.showLinkbyMouseOver('https://www.linkedin.com/', 'assets/img/linkedin_screen.PNG', 'home')"
        (mouseleave)="mouseService.showLinkDialog = false">
        <button mat-mini-fab><img src="assets/img/linkedin.png"></button></a>
</div>

<div class="small-circle"></div>